.everythingDiv {
  position: relative;
  top: 40px;
  left: 60px;
}
.perSec {
  position: absolute;
  top: 265px;
  left: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 130%; 
    left: 80%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0s;
  }
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.points {
      font-size: 30px;
      position: absolute;
      top: 38px;
      left: 210px;
}
.income {
    position: relative;
    left: 0px;
    top: 20px;
}
.mouseClicker {
    position: relative;
    bottom: 19px;
    left: 175px;
  }
.upgradesBox {
  border: 4px solid black;
  height: 300px;
  width: 250px;
  position: relative;
  left: 275px;
  bottom: 100px;
}
.upgradeUpgradesBox {
    border: 4px solid black;
    height: 300px;
    width: 250px;
    position: relative;
    left: 600px;
    bottom: 409px;
}
.AutomaticHeadline {
  text-align: center;
}
.clickUpgrade {
position: relative;
top:20px;
}
.mouseClickerButton {
  position: relative;
  top: 10px;
  left: 25px;
}
.mouseClickerDiv {
  position: relative;
  left: 197px;
  bottom: 10px;
}
.monkeyButton {
  position: relative;
  top: 10px;
  left: 25px;
}
.monkeyDiv {
  position: relative;
  left: 121px;
  bottom: 9px;
}
.workerUpgradeCount{
  position: relative;
  left:202px;
  bottom: 10px;
}
.monkeyUpgradeCount {
  position: relative;
  left: 182px;
  bottom: 10px;
}
